.cabecalho{
    background-color: #8e7cc3;
    padding-top: 5px;
    text-align: center;
}

div[role="main"] {
    min-height: 455px;
    background-color:#eeeeee ;
    border: 1px solid;
}

.footer{
    position: relative;
    bottom:0;
    width:100%;
}

.bar-tamanho {
    font-family: serif;
    font-size: 25px;
    width: 305px;
    white-spae: normal;
}

#logoFooter{
    padding-top: 12px;
    padding-bottom: 12px;
}

nav{
    background-color: red;
    height: 455px;
}