.cabeca
{
  min-height: 120px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  border-bottom: 1px solid #ccc;
  background: #8e7cc3;
  z-index: 2;
}

#imgcabeca{
 margin: 0 auto;   
}

body{min-height: 100%;}
