.cabecalho{
    background-color: #8e7cc3;
    padding-top: 5px;
    text-align: center;
}


.footer{
    position: relative;
    bottom:0;
    width:100%;
}


.bar-tamanho {
    font-family: serif;
    font-size: 25px;
    width: 275px;
    white-spae: normal;
}

#logoFooter{
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 16px;
    font-family: serif;
}

.conteudoCentro{
    border: 1px solid;
    background-color: #f1f1f1;
}

.sidenav {
    padding-top: 35px;
    padding-left: 20px;
    height: 100%;
}