.cabecalho a{

}

.linkcabecalho{
    background-color: #9fc5f8;
    background: -webkit-linear-gradient( #9fc5f8 , #F8F8F8); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient( #9fc5f8, #F8F8F8); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient( #9fc5f8, #F8F8F8); /* For Firefox 3.6 to 15 */
    background: linear-gradient( #9fc5f8 , #F8F8F8); /* Standard syntax */
    padding-top: 5px;
}

#imgcabeca {
    width: 170px;
}

.footer{
    margin-top: 20px;
    position: relative;
    bottom:0;
    width:100%;
    border-top:1px solid #ccc;
}


.bar-tamanho {
    font-family: serif;
    font-size: 25px;
    width: 275px;
    white-spae: normal;
}

#logoFooter{
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 16px;
}

.conteudoCentro{
    background-color: #f1f1f1;
    padding: 10px;
}

.sidenav {
    height: 100%;
}

.list-group.list-group-root > .list-group > .list-group-item {
    padding-left: 35px;
}

.botao-final{
    padding-bottom: 30px;

}

.first-content p{
    margin-bottom: 30px;
}

.second-content{
    background-color: #9fc5f8
}

.titulo{
    background-color: #666666;
    color: white;
}

.equipe-fotos img{
    border-radius: 50%;
    width: 200px
}

.equipe-fotos h3{
    margin-bottom: 30px;
}